.start-background {
  viewport-fill: black;
}

#screen-start {
  font-family: System-Bold;
}

.start-label {
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  fill: black;
}

#start-header {
  font-size: 40;
  y: 40;
}

#start-current-time {
  font-size: 60;
  y: 25%+30;
}

#start-group-start-label {
  font-size: 30;
  y: 55%+15;
}

#start-group-countdown {
  font-size: 50;
  y: 70%+25;
}
